<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login Dueño</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 

        <link rel="stylesheet" href="../css/perfil-dueno-edicion.css">
    </head>
    <body>
        <header>  
            <h1>ADOGCATME</h1>
            <div class="logo"><img src="assets/logo.png"></div>
        </header>


        <main>
            <div class="main-dueno">
                <div class="formulario">        
                    <div class="subt-duenoB">
                        <h3>Mis datos</h3>
                    </div>

                    <form th:action="@{/dueno/save}" method="POST" th:object="${usuario}" class="B" enctype="multipart/form-data">
                        <div>
                            <input hidden type="number" name="selector" value="0">
                        </div>
                        <div>
                            <input type="hidden" name="id"  placeholder="id" th:field="*{id}" th:value="*{id}">
                        </div>
                        <div>
                            <input type="hidden" name="Rol"  placeholder="Rol" th:field="*{Rol}" th:value="*{Rol}">
                        </div>
                        <div>
                            <input type="hidden" name="contrasena"  placeholder="contrasena" th:field="*{contrasena}" th:value="*{contrasena}">
                        </div>
                        <div>
                            <input type="text" name="usuario"  placeholder="usuario" th:field="*{usuario}" th:value="*{usuario}">
                        </div>
                        <div>
                            <input type="text" name="nombre" id="name" placeholder="Nombre completo" th:field="*{nombre}" th:value="*{nombre}">
                        </div>
                        <div>
                            <input type="number" name="telefono" placeholder="Ingresa tu telefono" th:field="*{telefono}" th:value="*{telefono}">
                        </div>
                        <div>
                            <input type="text" name="email" placeholder="Ingresa tu correo electronico" th:field="*{email}" th:value="*{email}">
                        </div>
                        <div>
                            <input type="text" name="barrio" placeholder="Barrio" th:field="*{barrio}" th:value="*{barrio}">
                        </div>
                        <div>
                            <input type="text" name="direccion" placeholder="Direccion Completa" th:field="*{direccion}" th:value="*{direccion}">
                        </div>
                        <div>
                            <input type="submit" value="Enviar" class="btn boton2">
                        </div>
                    </form>


                </div>    
            </div>

            <div class="button-container">
                <!--Luego ver como seguiría el flujo de información. Todavía falta agregar funcionalidad Lo veo entre hoy y mañana-->
                <button type="button" class="btn-actualizar">
                    <nav>
                        Actualizar Información Personal
                    </nav>
                </button>
                <button type="button" class="btn-cancelar">
                    <nav>
                        Cancelar
                    </nav>
                </button>
            </div>
        </main>
    </body>
</html>